<div class= "container p-3">
  <h4 class= "text-center">Change Password</h4>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <%= f.text_field :name, disabled: true, style: "border: none; background-color: white; width: 100%;" %><br /><br />
    

    <div class="field">
      <%= f.label :email, "Registered email", class: "mb-0" %>
      <%= f.email_field :email, autocomplete: "email", disabled: true, style: "border: none; background-color: white; width: 100%;" %>
    </div><br />

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Update password" %>
    </div>
  <% end %>
</div>
  

