<%= form_with(model: asset, local: true) do |form| %>
  <% if asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
        <% asset.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control" %>
  </div>

  <%# if @asset.pictures.attached? %>
    <%# @asset.pictures.each do |pic| %>
      <%#= pic.filename %>
    <%# end %>
  <%# else %>
    <%#= form.file_field :pictures %>
  <%# end %>
  

  <div class="field form-group ">
    <%= form.label :pictures %>
    <br />
    <%= form.file_field :pictures, multiple: true %>         
  </div>

  <div class="field form-group mt-5">
    <%= form.label :zip_file %>
    <br />
    <%= form.file_field :zip_file %>         
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

