<div class="container mx-auto">

  <p id="notice" class="text-center mt-2"><%= notice %></p>
  <p id="alert" class="text-center text-danger mt-2"><%= alert %></p>

  <h4 class="text-center mt-2">Assets</h4>

  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
    <% @assets.each do |asset| %>
      <%= link_to asset do %>
        <div class="col">
          <div class="card border-0 mx-auto asset-card">
            <%= image_tag asset.pictures[0], width: 100, class: "card-img-top" %>
            <div class="card-body mb-5 p-0">
              <h6 class="card-title text-dark "><%= truncate asset.title, length: 16 %></h6>
              <p class="card-text text-dark "><%= "$#{asset.price}" %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
