<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @asset.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @asset.description %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @asset.content %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @asset.price %>
  </p>

  <p>
    <strong>Pictures:</strong>
    <% @asset.pictures.each do |pic| %>
    <%= image_tag pic, width: 300 %>
    <% end %>
  </p>

  <% if @asset.zip_file.attached? %>
    <%= link_to 'Download', url_for(@asset.zip_file) %>
  <% end %>

  <%= link_to 'Edit', edit_asset_path(@asset) %> |
  <%= link_to 'Back', assets_path %>
</div>

<div id="big-image">
  <% @asset.pictures.each do |pic| %>
    <%= image_tag pic, width: 800 %>
  <% end %>
</div>

<div id="small-images">
  <% @asset.pictures.each do |pic| %>
    <%= link_to "#" do %>
      <%= image_tag pic, width: 80 %>
    <% end %>
  <% end %>
</div>
  
 
  



